.vue-map {
  border-radius: .375rem;
}

.gmap-place-input-wrapper {
  width: 100%;
}

.gmap-place-input {
  width: 100%;
  margin-bottom: 0;
  > input {
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 0.875rem;
  }
}